<app-server></app-server>
<app-servers></app-servers>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Crie dois novos Componentes (manualmente ou com o CLI): WarningAlert e SuccessAlert</li>
        <li>Mostre eles um abaixo do outro no AppComponent</li>
        <li>Mostre uma mensagem de aviso ou sucesso nos componentes</li>
        <li>Estilize os componentes apropriadamente (talvez algum texto vermelho/verde?)</li>
      </ol>
      <p>Use um template interno ou externo e estilos</p>
      <p>Sinta-se livre para criar mais componentes, construir um dentro do outro ou pratique diferentes tipos de seletores!</p>
    </div>
  </div>
</div>
